html {
    box-sizing: border-box;
    background: crimson;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #3c4859;
    font-family: Gotham, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    line-height: 1.35;
    position: relative;
    min-height: 100vh;
}

body.on-main-view {
    background: #222;
}

.hide-elm {
    display: none;
}

.center-text {
    text-align: center;
}
